@using DaysForGirls.Web.ViewModels
@model List<AdminOrdersDisplayAllViewModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<style>
    table {
        border-collapse: collapse;
        /*margin-left: 150px;*/
        width: 100%;
        table-layout: auto;
        margin-top: 50px;
    }

    table, th, td {
        border: 1px solid #ccccb3;
    }

    th {
        font-weight: bold;
        height: 50px;
    }

    td {
        text-align: center;
    }

        td a {
            text-decoration: none;
        }

        h2{
            margin-top: 50px;
        }
</style>

<h2 class="text-center">All Orders</h2>

<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Id</th>
            <th>Issued On</th>
            <th>Products</th>
            <th>Total Price</th>
            <th>UserId</th>
            <th>Status</th>
            <th>Is Deleted</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var order in Model)
        {
            //int number = @order.Number++;
            <tr>
                <td>@order.Number</td>
                <td>@order.Id</td>
                <td>@order.IssuedOn</td>
                <td><a>@order.OrderedProducts.Count()</a></td>
                <td>@order.TotalPrice</td>
                <td>@order.UserId</td>
                <td>@order.OrderStatus</td>
                <td>@order.IsDeleted</td>
                <td>
                    @if (order.OrderStatus != "Delivered and Paid")
                    {
                        <a href="/Orders/Edit/@order.Id">Edit</a>
                    }
                    <a href="/Orders/Details/@order.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
