@model IEnumerable<DaysForGirls.Web.ViewModels.SalesAllDisplayViewModelAdmin>

@{
    ViewData["Title"] = "AllAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>All Sales for Admin</h1>

<div>
    @foreach(var sale in Model)
    {
        <div>
            <a href="/Administration/Sale/Details/@sale.Id"><img src="@sale.Picture" alt="@sale.Title"/></a>
            <h3>@sale.Title - Ends on: @sale.EndsOn.ToString() - Is Active: @sale.IsActive</h3>
            @if(sale)
            {

            }
            <a href="/Administration/Sale/AddExistingProduct/@sale.Id"><button>Add Product To Sale</button></a>
        </div>
    }
</div>
