@model List<DaysForGirls.Web.ViewModels.SalesAllDisplayViewModelAdmin>

@{
    ViewData["Title"] = "AllAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>All Sales for Admin</h1>

<div>
    @foreach(var sale in Model)
    {
        <div>
            <a href="/Administration/Sale/Details/@sale.Id"><img src="@sale.Picture" alt="@sale.Title"/></a>
            <h3>@sale.Title - Ends on: @sale.EndsOn.ToString() - Is Active: @sale.IsActive</h3>
            <div>
                @if (sale.Products.Count() <= 0)
                {
                    <p>No products in this sale yet</p>
                }
                else
                {
                    <p>This sale offers @sale.Products.Count() products</p>
                }
                <a href="/Administration/Sale/AddProductToSale/@sale.Id"><button>Add product to sale</button></a>
            </div>
        </div>
    }
</div>
