@model DaysForGirls.Web.ViewModels.SaleDetailsAdminViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #sale-image{
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        margin-top: 50px;
        margin-bottom: 0px;
    }

    #products-holder{
        margin-top: 50px;
        margin-left: 30px;
    }

    #product-info-holder{
        margin-top: 0;
        padding-top: 0;
        background-color: #ebebe0;
        width: 150px;
    }

    #product-info-holder a{
        text-decoration: none;
    }

    #product-info-holder h6{
            margin-left: 4px;
            font-weight: 500;
            font-size: medium;
            padding-top: 1px;
            padding-left: 2px;
        }

    .sale-action{
        margin-right: 10px;
        text-decoration: none;
    }
</style>

@if(Model.IsActive)
{
    this.ViewData["active"] = "Active";
}
else
{
    this.ViewData["active"] = "Not Active";
}

<img id="sale-image" src="@Model.Picture" alt="@Model.Title" width="200"/>

<h2>@Model.Title - Ends on: @Model.EndsOn.ToString() - @this.ViewData["Active"]</h2>
<div>
    <a class="sale-action" href="/Administration/Product/Create">Add Product</a>
    <a class="sale-action" href="/Administration/Sale/Edit/@Model.Id">Edit Sale</a>
    <a class="sale-action" href="/Administration/Sale/Delete/@Model.Id" style="padding-left:7px">Delete Sale</a>
</div>

<div>
    @foreach(var product in Model.Products)
    {
        <div id="products-holder">
            <a href="/Products/Details/@product.Id"><img src="@product.Picture" width="150"/></a>
            <div id="product-info-holder">
                <a href="/Products/Details/@product.Id"><h6>@product.Name</h6></a>
                <h6>&euro;@product.OldPrice &euro;@product.NewPrice</h6>
            </div>
        </div>
    }
</div>
