@using DaysForGirls.Web.InputModels
@model DaysForGirls.Web.ViewModels.ProductDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #product-images-holder, #product-details-holder {
        float: left;
        width: 49%;
}
</style>

<div>
    <h4>@Model.Category > @Model.ProductType</h4>
</div>

<div>
    <div id="product-images-holder">
        <a href="/Pictures/Display/@Model.Pictures[0].Id"><img src="@Model.Pictures[0].ImageUrl" alt="@Model.Name" width="500" /></a>
    </div>
        <div class="slideshow-container">
            @for (int i = 1; i < Model.Pictures.Count(); i++)
            {
                <div style="margin-right: 5px">
                    <a href="/Pictures/Display/@Model.Pictures[i].Id"><img src="@Model.Pictures[i].ImageUrl" alt="@Model.Name" width="150" /></a>
                </div>
            }
        </div>
        <div>
            @if (Model.Reviews.Count() < 1)
            {
                <div>
                    <a class="text-center" href="/CustomerReviews/Create/@Model.Id"><button style="width:150px; margin-top:10px; margin-bottom: 10px; background-color: #cc0052; color: white"><p>Be the first to review @Model.Name</button></a>
                </div>
            }
            else
            {
                <div>
                    @foreach (var review in Model.Reviews)
                    {
                        <div>
                            <h4>On @review.DateCreated.ToString() @review.Author says: @review.Title</h4>
                            <p>@review.Text</p>
                        </div>
                    }
                </div>
            }
            <div>
                @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
        <div id="product-details-holder">
            <div>
                <h1 style="margin-bottom: 5px;">@Model.Name</h1>
                <h3>By @Model.Manufacturer</h3>
            </div>

            <h3>Price: &euro; @Model.Price.ToString("f2")</h3>
            <hr style="border-color: #cc0052;" />
            <p><span style="font-weight:bold">Description:</span> @Model.Description</p>
            <p><span style="font-weight:bold">Colour:</span> @Model.Colour</p>
            <p><span style="font-weight:bold">Size:</span> @Model.Size</p>
            <p><span style="font-weight:bold">Available Quantity:</span> @Model.AvailableQuantity</p>
        </div>

</div>