@using DaysForGirls.Web.InputModels
@model DaysForGirls.Web.ViewModels.ProductDetailsGeneralUserViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #entire-product {
        margin-top: 50px;
        margin-left: 65px;
    }

    #product-main-picture-and-info {
        display: block;
    }

    #product-main-picture {
        width: 45%;
        float: left;
        margin-right: 30px;
    }

        #product-main-picture img {
            width: 100%;
        }

    #product-main-info {
        background-color: #ebebe0;
        border-radius: 4px;
        width: 50%;
        float: left;
        padding-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }

        #product-main-info a {
            text-decoration: none;
        }

        #product-main-info button {
            width: 100px;
            background-color: #cc0052;
            color: white;
            font-size: medium;
            padding: 15px 20px 15px 20px;
            margin: 40px 200px 20px 205px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

    #product-morePictures-andComments {
        margin-left: 3px;
    }

    /*#product-morePictures {
        float: left;
        width: 50%;
        display: inline-block;
    }*/

    #product-comments {
        float: left;
        width: 50%;
        background-color: #ebebe0;
        border-radius: 4px;
        margin-left: 1px;
        margin-right: 10px;
        margin-top: 20px;
    }

    .mySlides {
        display: none;
    }

    .product-single-comment {
        margin-bottom: 5px;
        margin-left: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }

    #product-comments button {
        width: 200px;
        background-color: #cc0052;
        color: white;
        font-size: medium;
        padding: 15px 20px 15px 20px;
        margin: 17px 200px 25px 190px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .product-small-pic {
        /*margin-left: 2px;*/
        margin-right: 2px;
        margin-top: 5px;
        margin-bottom: 5px;
        float: left;
    }

        .product-small-pic img {
            float: left;
            width: 15%;
        }

    .w3-content .w3-display-container .w3-button {
        /*background-color: #a3a375;*/
        /*color: #cc0066;*/
    }

    hr {
        border-top: 1px solid #a3a375;
    }
</style>
<div id="entire-product">
    <div id="product-main-picture-and-info">
        <div id="product-main-picture">
            <div class="w3-content w3-display-container">
                @for (int i = 0; i < Model.Pictures.Count(); i++)
                {
                    <a href="/Pictures/Display/@Model.Pictures[i].Id"><img class="mySlides" src="@Model.Pictures[i].PictureUrl" style="width:100%; border-radius:4px"></a>
                }
                <button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                <button class="w3-button w3-display-right" onclick="plusDivs(1)">&#10095;</button>
            </div>
        </div>
        <div id="product-main-info">
            <h2>@Model.Name by <a href="/Manufacturers/Details/@Model.ManufacturerId">@Model.ManufacturerName</a></h2>
            <hr />
            <p style="font-size: medium"><span style="font-weight: bold">Description:</span> @Model.Description</p>
            <p style="font-size: medium"><span style="font-weight: bold">Colour:</span> @Model.Colour</p>
            <p style="font-size: medium"><span style="font-weight: bold">Size:</span> @Model.Size</p>
            <p style="font-size: medium"><span style="font-weight: bold">Price:</span> @Model.Price</p>
            <p style="font-size: medium"><span style="font-weight: bold">Available Quantity:</span> @Model.AvailableItems</p>
            <br />
            @if (Model.ShoppingCartId == null)
            {
                <a href="/ShoppingCarts/AddProduct/@Model.Id"><button id="order-modal">Order</button></a>
            }
            else
            {
                <button>Currently In a Cart</button>
            }
        </div>
    </div>
    <div id="product-morePictures-andComments">
        <div id="product-comments">
            @if (Model.Reviews.Count() > 0)
            {
                <h5 class="text-center">What people say about @Model.Name</h5>
                @foreach (var review in Model.Reviews)
                {
                    <div class="product-single-comment">
                        <p style="margin-bottom: 1px">On @review.DateCreated <bold>@review.Author</bold> said: <q>@review.Title</q> @*<a href="/CustomerReviews/Details/@review.Id" style="font-size:small"> Read comment</a>*@</p>
                        <p style="margin-top: 1px"><q>@review.Text</q></p>
                        <hr />
                    </div>
                }
            }
            <a href="/CustomerReviews/Create/@Model.Id"><button>Add Review</button></a>
        </div>
    </div>
</div>

<script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        if (n > x.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = x.length }
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex - 1].style.display = "block";
    }

//    // Get the modal
//var modal = document.getElementById("myModal");

//// Get the button that opens the modal
//var btn = document.getElementById("order-modal");

//// Get the <span> element that closes the modal
//var span = document.getElementsByClassName("close")[0];

//// When the user clicks the button, open the modal 
//btn.onclick = function() {
//  modal.style.display = "block";
//}

//// When the user clicks on <span> (x), close the modal
//span.onclick = function() {
//  modal.style.display = "none";
//}

//// When the user clicks anywhere outside of the modal, close it
//window.onclick = function(event) {
//  if (event.target == modal) {
//    modal.style.display = "none";
//  }
//}
</script>