@model SaleDetailsViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #sale-admin-actions a{
        text-decoration: none;
        padding-left: 5px;
    }

    .sale-general-info {
        display: inline-block;
        margin-top: 20px;
        margin-left: 100px;
        margin-bottom: 20px;
    }

        .sale-general-info div {
            float: left;
        }

        .sale-general-info img {
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px;
            width: 300px;
        }

    .sale-gen-image {
        margin-right: 20px;
    }

    .sale-gen-text {
        margin-top: 30px;
        margin-left: 100px;
        text-align: left;
    }

        .sale-gen-text h2 {
            margin-bottom: 1px;
        }

        .sale-gen-text h4 {
            margin-top: 1px;
        }

    #all-products-container {
        margin-top: 50px;
        display: inline-block;
    }

    #product-holder {
        margin-top: 15px;
        margin-left: 75px;
        margin-bottom: 10px;
        float: left;
    }

        #product-holder img {
            width: 195px;
            height: 240px;
            margin-bottom: 1px;
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px;
        }

    .product-info-holder {
        margin-top: 0;
        padding-top: 0;
        background-color: #ebebe0;
    }

        .product-info-holder a {
            text-decoration: none;
        }

        .product-info-holder h4 {
            margin-left: 4px;
            margin-bottom: 2px;
            font-weight: 500;
            font-size: medium;
        }

    .text-over-image {
        position: relative;
        text-align: center;
        font-weight: bold;
    }

    .text-bottom-right, .text-bottom-right-sold-out, .text-bottom-right-in-a-cart {
        color: whitesmoke;
        font-weight: 500;
        position: absolute;
        bottom: 10px;
        right: 0px;
    }

    .text-bottom-right {
        width: 60px;
        background-color: #62592c;
    }

    .text-bottom-right-sold-out {
        width: 100px;
        background-color: #990033;
    }

    .text-bottom-right-in-a-cart {
        width: 150px;
        background-color: #576ac4;
    }
</style>

@if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Admin"))
{
    @if (Model.IsActive)
    {
        this.ViewData["active"] = "Active";
    }
    else
    {
        this.ViewData["active"] = "Not Active";
    }
<div class="sale-general-info">
    <div class="sale-gen-image">
        <img src="@Model.Picture" alt="@Model.Title" width="200" />
    </div>
</div>
    
    @*<img id="sale-image" src="@Model.Picture" alt="@Model.Title" width="200" />*@

    <h2>@Model.Title - Ends on: @Model.EndsOn.ToString() - @this.ViewData["Active"]</h2>
    <div id="sale-admin-actions">
        <a class="sale-action" href="/Administration/Product/Create">Add Product</a>
        <a class="sale-action" href="/Administration/Sale/Edit/@Model.Id">Edit Sale</a>
        <a class="sale-action" href="/Administration/Sale/Delete/@Model.Id" style="padding-left:7px">Delete Sale</a>
    </div>
}
else
{
    <div class="sale-general-info">
        <div class="sale-gen-image">
            <img src="@Model.Picture" alt="@Model.Title" />
        </div>
        <div class="sale-gen-text">
            <h2>@Model.Title</h2>
            <h4><span style="font-weight: bold">Ends On:</span> @Model.EndsOn</h4>
        </div>
    </div>
}

<div id="all-products-container">
    @foreach (var product in Model.Products)
    {
        <div id="product-holder">
            @if (product.ShoppingCartId != null)
            {
                <div class="text-over-image">
                    <a href="/Products/Details/@product.Id"><img src="@product.MainPicture" alt="@product.Name" /></a>
                    <div class="text-bottom-right-in-a-cart">Currently in a Cart</div>
                </div>
            }
            else if (product.OrderId != null)
            {
                <div class="text-over-image">
                    <img src="@product.MainPicture" alt="@product.Name" />
                    <div class="text-bottom-right-sold-out">Sold Out</div>
                </div>
            }
            else
            {
                if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Admin"))
                {
                    <a href="/Administration/Product/Details/@product.Id"><img src="@product.MainPicture" alt="@product.Name" /></a>
                }
                else
                {
                    <a href="/Products/Details/@product.Id"><img src="@product.MainPicture" alt="@product.Name" /></a>
                }
            }
            @if (product.ShoppingCartId == null && product.OrderId == null)
            {
                <div class="product-info-holder">
                    <a href="/Products/Details/@product.Id"><h4>@product.Name</h4></a>
                    <h4 style="margin-top: 1px">&euro;<strike>@product.Price</strike> &euro;@product.SalePrice</h4>
                </div>
            }

        </div>
    }
</div>