@model SaleDetailsViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">@Model.Title</h2>
<h4 class="text-center">Ends On: @Model.EndsOn</h4>

<div>
    @foreach(var product in Model.Products)
    {
        <div class="col-md-3">
            <a href="/Products/Details/@product.Id"><img src="@product.MainPicture" alt="@Model.Title - @product.Name" /></a>
            <a href="/Products/Details/@product.Id"><h4>@product.Name</h4></a>
            <p>@product.OldPrice</p>
            <p>@product.NewPrice</p>
            @if (product.AvailableItems < 1)
            {
                <h3>Sold Out</h3>
            }
        </div>
    }
</div>