@model SaleDetailsViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #sale-image {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        margin-top: 50px;
        margin-bottom: 0px;
    }

    #products-holder {
        margin-top: 50px;
        margin-left: 30px;
    }

    #product-holder img{
        width: 195px;
        height: 240px;
        margin-bottom: 1px;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
    }

    .product-info-holder{
        background-color: #ebebe0;
    }

    .product-info-holder a{
        text-decoration: none;
    }

    .product-info-holder h4{
        margin-left: 4px;
        margin-bottom: 2px;
        font-weight: 500;
        font-size: medium; 
    }

    .text-over-image{
        position: relative;
        text-align: center;
        font-weight: bold;
    }

    .text-bottom-right, .text-bottom-right-sold-out, .text-bottom-right-in-a-cart{
        color: whitesmoke;
        font-weight: 500;
        position: absolute;
        bottom: 10px;
        right: 0px;
    }
    .text-bottom-right{
        width: 60px;
        background-color: #62592c;
    }

    .text-bottom-right-sold-out{
        width: 100px;
        background-color: crimson;
    }

    .text-bottom-right-in-a-cart{
        width: 150px;
        background-color: #c5b358;
    }
</style>

<img id="sale-image" src="@Model.Picture" alt="@Model.Title" width="200" />

<h2>@Model.Title - Ends on: @Model.EndsOn.ToString()</h2>

<div id="products-holder">
    @foreach(var product in Model.Products)
    {
    <div id="product-holder">
        @if (product.ShoppingCartId != null)
            {
                <div class="text-over-image">
                    <a href="/Products/Details/@product.Id"><img src="@product.MainPicture" alt="@product.Name" /></a>
                    <div class="text-bottom-right-in-a-cart">Currently in a Cart</div>
                </div>
            }
            else if (product.OrderId != null && product.AvailableItems < 1)
            {
                <div class="text-over-image">
                    <img src="@product.MainPicture" alt="@product.Name" />
                    <div class="text-bottom-right-sold-out">Sold Out</div>
                </div>
            }
            else
            {
                if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Admin"))
                {
                    <a href="/Administration/Product/Details/@product.Id"><img src="@product.MainPicture" alt="@product.Name" /></a>
                }
                else
                {
                    <a href="/Products/Details/@product.Id"><img src="@product.MainPicture" alt="@product.Name" /></a>
                }
            }
            <div class="product-info-holder">
                <a href="/Products/Details/@product.Id"><h4>@product.Name</h4></a>
                <h4 style="margin-top: 1px">&euro;<strike>@product.Price</strike> &euro;@product.SalePrice</h4>
            </div>
    </div>
    }
</div>