@model DaysForGirls.Web.ViewModels.ProductDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #product-image-holder, #product-details-holder {
        float: left;
        width: 49%;
    }
    #product-images-holder{
        margin-top: 10px;
        display: inline-block;
        float: left;
    }
    #product-images-holder img{
        width: 10%;
    }
    #product-reviews-holder{
        display: block;
    }

    hr{
        border-color: #cc0052;
    }
</style>

<div>
    <h4>@Model.Category > @Model.ProductType</h4>
</div>

<div>
    <div id="main">
        <div id="product-image-holder">
            <a href="/Pictures/Display/@Model.Pictures[0].Id"><img src="@Model.Pictures[0].ImageUrl" alt="@Model.Name" /></a>
        </div>
        <div id="product-details-holder">
            <div>
                <h1 class="text-center" style="margin-bottom: 5px;">@Model.Name</h1>
                <h3 class="text-center">By @Model.Manufacturer</h3>
                <hr style="border-color: #cc0052;" />
            </div>

            <h3 class="text-center">Price: &euro; @Model.Price.ToString("f2")</h3>
            <p><span style="font-weight: bold">Description:</span> @Model.Description</p>
            <p><span style="font-weight: bold">Color:</span> @Model.Colour</p>
            <p><span style="font-weight: bold">Size:</span> @Model.Size</p>
            <p><span style="font-weight: bold">Available Quantity:</span> @Model.AvailableQuantity</p>
        </div>
    </div>
    <div id="subMain">
        <div id="product-images-holder">
            @for (int i = 1; i < Model.Pictures.Count(); i++)
            {
                <a href="/Pictures/Display/@Model.Pictures[i].Id"><img src="@Model.Pictures[i].ImageUrl" alt="@Model.Name" /></a>
            }
        </div>
        <hr />
        <div id="product-reviews-holder">
            @if (Model.Reviews.Count() > 0)
            {
                <div>
                    @foreach (var review in Model.Reviews)
                    {
                        <div>
                            <h4>On @review.DateCreated @review.Author says: @review.Title</h4>
                            <hr />
                            <p>@review.Text</p>
                        </div>
                        <hr />
                    }
                </div>
            }
            <div id="admin">
                <a href="/Administration/Product/Edit/@Model.Id">Edit Product</a>
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>
    
