@model IEnumerable<DaysForGirls.Web.ViewModels.CategoryDisplayAllViewModel>

@{
    ViewData["Title"] = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            margin-top: 30px;
        }

        table, th, td {
            border: 1px solid #ccccb3;
        }

        th {
            font-weight: bold;
            height: 50px;
        }

        td {
            text-align: center;
        }

            td a {
                margin-right: 3px;
                text-decoration: none;
            }

        tr:hover {background-color: #f5f5f5;}

        #sale-image img {
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px;
            width: 150px;
        }

            #sale-image img:hover {
                box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
            }
    </style>

<h1 class="text-center">All Categories</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDeleted)
        </td>
        <td>
            <a href="/Administration/Category/Edit/@item.Id">Edit</a>
            @if (@item.IsDeleted)
            {
                <a href="/Administration/Category/DeletePermanently/@item.Id">Delete Permanently</a>
            }
            else
            {
                <a href="/Administration/Category/Delete/@item.Id">Delete</a>
            }
        </td>
    </tr>
}
    </tbody>
</table>
