@model IEnumerable<DaysForGirls.Web.ViewModels.CategoryDisplayAllViewModel>

@{
    ViewData["Title"] = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <style>
        table {
            border-collapse: collapse;
            margin-left: 320px;
            width: 50%;
        }

        table, th, td {
            border: 1px solid #ccccb3;
        }

        th {
            font-weight: bold;
            height: 50px;
        }

        td {
            text-align: center;
        }

            td a {
                margin-right: 3px;
            }

        tr:hover {background-color: #f5f5f5;}

        #sale-image img {
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px;
            width: 150px;
        }

            #sale-image img:hover {
                box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
            }
    </style>

<h1 class="text-center">All Categories</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
